/*header*/
.logo {
  width:90px;
  float: left;
  /*clear:both;*/
}
.logo-text {
  font-family: 'Lobster', cursive;
  color: #f48057;
}
.jumbotron {
  background-image: url("../img/hero.jpg");
  height: 450px;
  background-position: center;
  background-size: 100%;
}
.action-call {
  color: #ffffff !important;
  font-size: 35px !important;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 15px;
}
.featured {
  text-transform: uppercase;
}
.thumbnailpictures {
  height: 150px;
}
