@import 'https://fonts.googleapis.com/css?family=Raleway';

/*header*/
body {
  font-family: 'Raleway', sans-serif;
}

.logo {
  width:90px;
  float: left;
  /*clear:both;*/
}
.logo-text {
  font-family: 'Lobster', cursive;
  color: #f48057;
}
.jumbotron {
  background-image: url("../img/hero.jpg");
  height: 450px;
  background-position: center;
  background-size: 100%;
}
.action-call {
  color: #ffffff !important;
  font-size: 35px !important;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 15px;
}
.featured {
  text-transform: uppercase;
  font-weight: bold;
}
#featured-section {
  padding-left: 15px;
  padding-right: 15px;
}
.thumbnail {
  background: #edf1f4;
}
.product-pic {
  padding:10px;
}
.purchase-now {
  background: #5bc0de;
  font-size: 12px;
}
.product-caption {
  padding: 10px !important;
}
.product-caption h4 {
  font-weight: bold;
}
.service-tab {
  text-transform: uppercase;
  font-weight: bold;
}
.service-tab:hover {
  color: #ff827b
}
.service-p {
  margin-top: 10px;
}
footer {
  background: #000;
  min-height: 150px;
  color: #fff;
}
#footer-logo {
  height: 100px;
}
.footer-border {
  border-left: 1px solid #333;
}
#footer-contents {
  margin-top: 15px;
}
address {
  color: #fff;
  padding: 20px 0px 0px 10px;
}
i {
  margin-right: 4px;
}
